.clearfix::after {
	content: "";
	display:table;
	clear:both;
}

header {
	background: #f1f5f7;
	/*border: solid 1px #f1f5f7;*/
	/*padding-top: 10px;*/
}

.header-top {
	
	/*padding-top: 10px;*/
	min-height: 43px;
	margin-bottom: 15px;
}

.container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	/*background: red;*/
}

.logo {
	float: left;
	width: 220px;
	height: 47px;
	background: red;
	padding-top: 10px;
}


.search-form {
	/*display: inline-block;*/
	float: left;
	width: 270px;
	height: 33px;
	padding-top: 10px;
}

.bookmarks {
	/*display: inline-block;*/
	float: left;
	width: 150px;
	height: 43px;

	p {
		

	}
}

.cart {
	/*display: inline-block;*/
	float: left;
	width: 150px;
	height: 43px;
}

.place-order {
	/*display: inline-block;*/
	float: left;
	height: 43px;
	width: 150px;
}

.header-middle{ 
	p {
		float:left;
		width: 313px;
		min-height: 140px;
		margin: 0px;
		/*margin-right: 15px;*/

		/*background-color: rgba(255,0,0,0.2);*/
	}

	.contact-info {
		float: left;
		width: 313px;
		/*margin-right: 15px;*/
		min-height: 140px;
	}

	.register-buttons {
		float: left;
		width: 313px;
		min-height: 140px;
		/*height: 140px;*/
		/*background: red;*/
		a {
			display: inline-block;
			/*width:  125px;*/
			/*height:  45px;*/
			padding-left: 25px;
			padding-right: 25px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}	

}




.header-bottom {
	padding-bottom: 60px;

	ul {
		padding: 0px;
		margin: 0px;
	}

	li {
		display: inline-block;
	}

	a {
		display: inline-block;
		padding-right: 28px;
		padding-left: 28px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.catalog {
	padding-bottom: 65px;
	padding-top: 55px;	
}


@mixin catalog-items {
	display: inline-block;
	width: 300px;
	height: 125px;
	margin-right: 18px;
	font-size: 24px;
	margin-bottom: 20px;

	a {
		display: inline-block;
		width: 140px;
		height: 40px;
		font-size: 14px;

	}
}

.left-col {
	float: left;
	width: 640px;

	.catalog-item {
		@include catalog-items;
	}

	.slider {
		display: inline-block;
		width: 620px;
		height: 270px;
		margin-right: 20px;
	}
}

.right-col {
	float: right;
	width: 300px;
	.catalog-item {
		@include catalog-items;
		margin-right: 0px;
	}
}



@import "blockhelp";
